# Virtual Environment
.venv/
venv/
ENV/

# Python-spezifische Dateien
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE-spezifische Dateien
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Logs und Datenbanken
*.log
*.sqlite
*.db

# Downloads und temporäre Dateien
downloaded_files/
temp/
*.tmp

# Umgebungsvariablen und Konfigurationsdateien
.env
.env.local
config.local.py
secrets.py

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db